.password-container{
    width:350px;
    margin:80px auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}

h2{
    text-align:center;
}

.form-group{
    margin-bottom:15px;
}

input,select{
    width:100%;
    padding:8px;
}

button{
    width:100%;
    padding:10px;
    background:#28a745;
    color:white;
    border:none;
    cursor:pointer;
}